    @import url('https://fonts.googleapis.com/css2?family=Bellota&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
        *{
            font-family: 'Nunito', sans-serif;
            text-align: center;
            zoom: 105%;
        }
        body{
            background-color: skyblue;
        }
        h1{
            color: rgb(111, 111, 111);
            color: rgb(236, 255, 254);
            background-color: rgba(255, 105, 180, 0.8);
            font-family: 'Bellota', sans-serif;
            font-style: italic;
            border-radius: 25px 25px 25px 25px;
        }
        h2{
            color: rgb(236, 255, 254);
            background-color: rgba(255, 105, 105, 0.7);
            font-family: 'Bellota', sans-serif;
            border-radius: 15px;
        }
        h3{
            color: rgb(236, 255, 254);
            background-color: rgba(93, 45, 116, 1);
            font-family: 'Bellota', sans-serif;
            border-radius: 15px;
        }
        h4{
            color: rgb(236, 255, 254);
            background-color: rgba(255, 105, 180, 1);
            font-family: 'Bellota', sans-serif;
            border-radius: 15px;            
        }
        form{
            font-style: italic;
            font-weight: bold;
        }
        input{
            border-radius: 15px;
        }
        p{
            color: rgb(236, 255, 254);
            background-color: rgba(255, 105, 180, 0.8);
            font-family: 'Bellota', sans-serif;
            font-style: italic;
            border-radius: 25px 25px 25px 25px;
        }